.App {
  text-align: center;
  background-color: #eceff1;
  height: 100vh;
}

.header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #6DAEDB;
  padding: 10px;
}

.logo {
  color: #071019;
  font-size: 20px;
  font-weight: 600;
}

.button {
  box-sizing: border-box;
  padding: 7px;
  border: 1px #071019 solid; 
  background-color: #6DAEDB;
  color: #071019;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  margin-top: -10px;
}

.dashboard {
  margin-top: 10px;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}


.client-card {
  margin-top: 20px;
  height: 200px;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px #02252e solid; */
  display: flex;
  flex-direction: column;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(175,194,206,0.19) 100%);
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px 
  rgba(0, 0, 0, 0.068), -5px -5px 30px 7px 
  rgba(0,0,0,0.22);
}

.client-card:hover {
    /* transform: scale(0.9, 0.9); */
    margin-top: -0.1px;
    box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.15), 
      -5px -5px 20px 15px rgba(0,0,0,0.22);
}


.client-name {
  /* background-color: #028aac; */
  height: 30px;
  color: #071019;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.client-info {
  margin-top: -75px;
  color: #02252e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

}

.info {
  margin-top: 5px;
  /* display: flex;
  justify-content: flex-end;
  align-content: flex-end; */
}

.more {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #6DAEDB;
}

.Auth {
  width: 100vw;
  height: 100vh;
  /* background-image: -webkit-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: -o-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  position: absolute; */
  top: 0;
  left: 0;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.auth_container {
  border-radius: 8px;
  -webkit-box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  background-image: linear-gradient(97deg,#eceff1,#b0bec5);
  width: 35vw;
  height: 55vh;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px;
}


.input-area {

}

.button-area {

}