.App {
  text-align: center;
}

.header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(0, 179, 223);
}